In [1]:
%matplotlib inline

# Importing Dependencies
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import pandas as pd
pd.options.mode.chained_assignment = None
import numpy as np
import datetime as dt

### Quick DataFrame Cleanup

In [2]:
# Reading CSV
f = pd.read_csv("../data/model.csv")
# Making DataFrame
model_df = pd.DataFrame(f)

In [3]:
model_df

,AIRPORT_ID,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,...,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,FIRST_DEP_TIME,TOTAL_ADD_GTIME,LONGEST_ADD_GTIME,field1,FL_DATE.1,DurationofEvent
0,869,2018,1,2,1/2/2018,AA,19805,AA,N104UW,468,...,43.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,870,2018,1,6,1/6/2018,AA,19805,AA,N117UW,468,...,22.0,0.0,0.0,0.0,524.0,16.0,16.0,NaN,NaN,NaN
2,871,2018,1,13,1/13/2018,AA,19805,AA,N114UW,468,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,872,2018,1,15,1/15/2018,AA,19805,AA,N122US,468,...,23.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,873,2018,1,29,1/29/2018,AA,19805,AA,N126UW,468,...,0.0,24.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14389,67828,2018,12,20,12/20/2018,AA,19805,AA,N996AN,1253,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14390,67829,2018,12,27,12/27/2018,AA,19805,AA,N987AM,1253,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14391,67830,2018,12,28,12/28/2018,AA,19805,AA,N149AN,1253,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14392,67831,2018,12,29,12/29/2018,AA,19805,AA,N142AN,1253,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14393,67832,2018,12,31,12/31/2018,AA,19805,AA,N989AU,1253,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Grabbing Columns that are Needed
model_df = model_df[["WEATHER_DELAY", "DurationofEvent"]]

In [6]:
# Trying to Convert NaN to 0 
event_list = model_df["DurationofEvent"].tolist() # Made List First
new_event_list = [0 if x != x else x for x in event_list] # Made New List with NaN as 0
model_df["DurationofEvent"] = new_event_list # Putting New List into DataFrame

In [95]:
# Dropping NaN in Weather_Delay
clean_model_df = model_df.dropna()

In [96]:
# Renaming Columns
clean_model_df.rename(columns={"DurationofEvent": "LENGTH_OF_THUNDERSTORM"},inplace=True)

In [108]:
clean_model_df = pd.DataFrame({"WEATHER_DELAY": weather_delay_list, "LENGTH_OF_THUNDERSTORM": minutes_list})

In [111]:
clean_model_df['LENGTH_OF_THUNDERSTORM'].unique()

array([   0., 1920.])

In [ ]:
bins = [0, 30, 60, 90, 120, 150, 180, 210, 240, 270, 300]

In [60]:
# # Creating Binary Columns
# clean_model_df["BINARY_WEATHER_DELAY"] = clean_model_df["WEATHER_DELAY"].apply(lambda x: 1 if x > 0 else 0)
# clean_model_df["BINARY_LENGTH_THUNDERSTORM"] = clean_model_df["LENGTH_OF_THUNDERSTORM"].apply(lambda x: 0 if x == 0 else 1)

### Logistical Regression

#### Question: Is this Delay Due to a Thunderstorm?

In [71]:
# Assign X (data) and y (target)
X = tstorm_delay_df.drop("LENGTH_OF_THUNDERSTORM", axis=1)
y = tstorm_delay_df['BINARY_WEATHER_DELAY']

print(X.shape, y.shape)

(1193, 1) (1193,)

In [72]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [73]:
classifier = LogisticRegression()
classifier

LogisticRegression()

In [74]:
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

LogisticRegression(multi_class='ovr', n_jobs=1, solver='liblinear')

In [75]:
classifier.fit(X_train, y_train)

LogisticRegression()

In [76]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 1.0
Testing Data Score: 1.0