In [1]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
pd.options.mode.chained_assignment = None
import numpy as np

In [2]:
model_df = pd.read_csv("../data/model.csv")
model_df

,AIRPORT_ID,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,...,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,FIRST_DEP_TIME,TOTAL_ADD_GTIME,LONGEST_ADD_GTIME,field1,FL_DATE.1,DurationofEvent
0,869,2018,1,2,1/2/2018,AA,19805,AA,N104UW,468,...,43.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,870,2018,1,6,1/6/2018,AA,19805,AA,N117UW,468,...,22.0,0.0,0.0,0.0,524.0,16.0,16.0,NaN,NaN,NaN
2,871,2018,1,13,1/13/2018,AA,19805,AA,N114UW,468,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,872,2018,1,15,1/15/2018,AA,19805,AA,N122US,468,...,23.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,873,2018,1,29,1/29/2018,AA,19805,AA,N126UW,468,...,0.0,24.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14389,67828,2018,12,20,12/20/2018,AA,19805,AA,N996AN,1253,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14390,67829,2018,12,27,12/27/2018,AA,19805,AA,N987AM,1253,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14391,67830,2018,12,28,12/28/2018,AA,19805,AA,N149AN,1253,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14392,67831,2018,12,29,12/29/2018,AA,19805,AA,N142AN,1253,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14393,67832,2018,12,31,12/31/2018,AA,19805,AA,N989AU,1253,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
model_df = model_df[["FL_DATE", "WEATHER_DELAY", "DurationofEvent"]]
model_df.head(40)

      FL_DATE  WEATHER_DELAY            DurationofEvent
0    1/2/2018           43.0                        NaN
1    1/6/2018           22.0                        NaN
2   1/13/2018            0.0                        NaN
3   1/15/2018           23.0                        NaN
4   1/29/2018            0.0                        NaN
5    1/5/2018            0.0                        NaN
6    1/7/2018            7.0                        NaN
7    1/8/2018            0.0                        NaN
8   1/12/2018            0.0                        NaN
9   1/15/2018           16.0                        NaN
10  1/19/2018            0.0                        NaN
11  1/21/2018            0.0                        NaN
12  1/26/2018            0.0                        NaN
13   1/2/2018           27.0                        NaN
14   1/1/2018            0.0                        NaN
15   1/5/2018            0.0                        NaN
16   1/8/2018            0.0                        NaN
17  1/10/2018            0.0                        NaN
18  1/11/2018            0.0                        NaN
19  1/12/2018            0.0                        NaN
20  1/14/2018            1.0                        NaN
21  1/15/2018            2.0                        NaN
22  1/17/2018            0.0                        NaN
23  1/21/2018            0.0                        NaN
24  1/22/2018            0.0  0 days 00:32:00.000000000
25  1/24/2018            0.0                        NaN
26  1/25/2018            0.0                        NaN
27  1/26/2018            0.0                        NaN
28  1/28/2018            0.0                        NaN
29  1/29/2018            0.0                        NaN
30  1/31/2018            0.0                        NaN
31   1/1/2018            0.0                        NaN
32   1/7/2018            9.0                        NaN
33  1/11/2018            0.0                        NaN
34  1/12/2018            9.0                        NaN
35  1/15/2018            5.0                        NaN
36   1/2/2018           19.0                        NaN
37   1/2/2018            0.0                        NaN
38  1/11/2018            0.0                        NaN
39  1/21/2018            0.0                        NaN

In [4]:
event_df = model_df["DurationofEvent"].tolist()
event_df

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:32:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:18:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:18:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 '0 days 00:18:00.000000000',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 ...]

In [5]:
event_df = [0 if x != x else x for x in event_df]
event_df

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 '0 days 00:32:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:18:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0 days 00:18:00.000000000',
 0,
 0,
 0,
 0,
 0,
 '0 days 00:18:00.000000000',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [6]:
model_df["DurationofEvent"] = event_df
model_df

          FL_DATE  WEATHER_DELAY DurationofEvent
0        1/2/2018           43.0               0
1        1/6/2018           22.0               0
2       1/13/2018            0.0               0
3       1/15/2018           23.0               0
4       1/29/2018            0.0               0
...           ...            ...             ...
14389  12/20/2018            NaN               0
14390  12/27/2018            NaN               0
14391  12/28/2018            NaN               0
14392  12/29/2018            NaN               0
14393  12/31/2018            NaN               0

[14394 rows x 3 columns]

In [7]:
clean_model = model_df.dropna()
clean_model

          FL_DATE  WEATHER_DELAY DurationofEvent
0        1/2/2018           43.0               0
1        1/6/2018           22.0               0
2       1/13/2018            0.0               0
3       1/15/2018           23.0               0
4       1/29/2018            0.0               0
...           ...            ...             ...
14213   12/9/2018          710.0               0
14233   12/5/2018         1840.0               0
14274   12/7/2018         1034.0               0
14280  12/20/2018          900.0               0
14305  12/16/2018          653.0               0

[1193 rows x 3 columns]

In [8]:
clean_model.rename(columns={"DurationofEvent": "LENGTH_OF_THUNDERSTORM"},inplace=True)

In [10]:
clean_model["NEW_WEATHER"] = clean_model["WEATHER_DELAY"].apply(lambda x: 1 if x > 0 else 0)
clean_model

          FL_DATE  WEATHER_DELAY LENGTH_OF_THUNDERSTORM  NEW_WEATHER
0        1/2/2018           43.0                      0            1
1        1/6/2018           22.0                      0            1
2       1/13/2018            0.0                      0            0
3       1/15/2018           23.0                      0            1
4       1/29/2018            0.0                      0            0
...           ...            ...                    ...          ...
14213   12/9/2018          710.0                      0            1
14233   12/5/2018         1840.0                      0            1
14274   12/7/2018         1034.0                      0            1
14280  12/20/2018          900.0                      0            1
14305  12/16/2018          653.0                      0            1

[1193 rows x 4 columns]

In [11]:
clean_model["NEW_THUNDERSTORM"] = clean_model["LENGTH_OF_THUNDERSTORM"].apply(lambda x: 0 if x == 0 else 1)
clean_model

,FL_DATE,WEATHER_DELAY,LENGTH_OF_THUNDERSTORM,NEW_WEATHER,NEW_THUNDERSTORM
0,1/2/2018,43.0,0,1,0
1,1/6/2018,22.0,0,1,0
2,1/13/2018,0.0,0,0,0
3,1/15/2018,23.0,0,1,0
4,1/29/2018,0.0,0,0,0
...,...,...,...,...,...
14213,12/9/2018,710.0,0,1,0
14233,12/5/2018,1840.0,0,1,0
14274,12/7/2018,1034.0,0,1,0
14280,12/20/2018,900.0,0,1,0
14305,12/16/2018,653.0,0,1,0

In [12]:
X = clean_model.drop("NEW_WEATHER", axis=1)
y = clean_model["NEW_THUNDERSTORM"]
print(X.shape, y.shape)

(1193, 4) (1193,)

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)