In [1]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
pd.options.mode.chained_assignment = None
import numpy as np

In [2]:
model_df = pd.read_csv("../data/new_model.csv")
model_df

,AIRPORT_ID,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,...,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,FIRST_DEP_TIME,TOTAL_ADD_GTIME,LONGEST_ADD_GTIME,field1,FL_DATE.1,DurationofEvent,DurationinMinutes
0,123,2018,1,22,1/22/2018,B6,20409,B6,N236JB,312,...,12.0,0.0,19.0,NaN,NaN,NaN,0,1/22/2018,0 days 00:32:00.000000000,32
1,150,2018,1,22,1/22/2018,EV,20366,EV,N14158,3966,...,15.0,0.0,13.0,NaN,NaN,NaN,0,1/22/2018,0 days 00:32:00.000000000,32
2,175,2018,1,22,1/22/2018,EV,20366,EV,N12540,4014,...,0.0,0.0,0.0,NaN,NaN,NaN,0,1/22/2018,0 days 00:32:00.000000000,32
3,249,2018,1,22,1/22/2018,NK,20416,NK,N665NK,121,...,43.0,0.0,0.0,NaN,NaN,NaN,0,1/22/2018,0 days 00:32:00.000000000,32
4,272,2018,1,22,1/22/2018,NK,20416,NK,N602NK,295,...,0.0,0.0,168.0,NaN,NaN,NaN,0,1/22/2018,0 days 00:32:00.000000000,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15829,67509,2018,12,1,12/1/2018,OO,20304,OO,N724SK,3019,...,NaN,NaN,NaN,NaN,NaN,NaN,46,12/1/2018,0 days 00:00:00.000000000,0
15830,67510,2018,12,1,12/1/2018,OO,20304,OO,N758SK,3053,...,NaN,NaN,NaN,NaN,NaN,NaN,46,12/1/2018,0 days 00:00:00.000000000,0
15831,67511,2018,12,1,12/1/2018,OO,20304,OO,N715SK,3083,...,NaN,NaN,NaN,NaN,NaN,NaN,46,12/1/2018,0 days 00:00:00.000000000,0
15832,67512,2018,12,1,12/1/2018,OO,20304,OO,N709SK,3084,...,NaN,NaN,NaN,NaN,NaN,NaN,46,12/1/2018,0 days 00:00:00.000000000,0
15833,67689,2018,12,1,12/1/2018,AA,19805,AA,N176UW,1668,...,NaN,NaN,NaN,NaN,NaN,NaN,46,12/1/2018,0 days 00:00:00.000000000,0

In [3]:
model_df["DurationinMinutes"].unique()

array([  32,   18,  113, 1302,  719,   64,  531,  893,    0,  252,  120,
        197,  693,   72,   27,  331,   77,  137,   66,   14,  946,   90,
          8,   41,   89,   45,  157,  195,  653,  159,   57,  819,  939,
         15,   22,  458,    9,   24,  104,  635], dtype=int64)

In [4]:
duration_df = model_df[["FL_DATE", "WEATHER_DELAY", "DurationinMinutes"]]
duration_df.head(40)

      FL_DATE  WEATHER_DELAY  DurationinMinutes
0   1/22/2018            0.0                 32
1   1/22/2018            0.0                 32
2   1/22/2018            0.0                 32
3   1/22/2018            0.0                 32
4   1/22/2018            0.0                 32
5   1/22/2018            0.0                 32
6   1/22/2018            0.0                 32
7   1/22/2018            0.0                 32
8   1/22/2018            0.0                 32
9   1/22/2018            0.0                 32
10  1/22/2018            0.0                 32
11  1/22/2018            9.0                 32
12  1/22/2018           19.0                 32
13  1/22/2018            5.0                 32
14  1/22/2018            0.0                 32
15  1/22/2018            0.0                 32
16  1/22/2018            0.0                 32
17  1/22/2018            0.0                 32
18  1/22/2018            0.0                 32
19  1/22/2018            0.0                 32
20  1/22/2018           56.0                 32
21  1/22/2018            0.0                 32
22  1/22/2018            0.0                 32
23  1/22/2018            0.0                 32
24  1/22/2018            0.0                 32
25  1/22/2018            0.0                 32
26  1/22/2018           25.0                 32
27  1/22/2018            0.0                 32
28  1/22/2018            0.0                 32
29  1/22/2018            0.0                 32
30  1/22/2018            2.0                 32
31  1/22/2018            0.0                 32
32  1/22/2018            0.0                 32
33  1/22/2018           10.0                 32
34  1/22/2018           17.0                 32
35  1/22/2018            0.0                 32
36  1/22/2018            6.0                 32
37  1/22/2018            0.0                 32
38  1/22/2018           19.0                 32
39  1/22/2018           41.0                 32

In [5]:
duration_df.dropna(inplace=True)

In [6]:
duration_df.rename(columns={"DurationinMinutes": "LENGTH_OF_THUNDERSTORM"},inplace=True)

In [7]:
duration_df["NEW_WEATHER"] = duration_df["WEATHER_DELAY"].apply(lambda x: 1 if x > 0 else 0)
duration_df

         FL_DATE  WEATHER_DELAY  LENGTH_OF_THUNDERSTORM  NEW_WEATHER
0      1/22/2018            0.0                      32            0
1      1/22/2018            0.0                      32            0
2      1/22/2018            0.0                      32            0
3      1/22/2018            0.0                      32            0
4      1/22/2018            0.0                      32            0
...          ...            ...                     ...          ...
15746  12/1/2018         1938.0                       0            1
15753  12/1/2018         1707.0                       0            1
15785  12/1/2018         2230.0                       0            1
15788  12/1/2018         1309.0                       0            1
15814  12/1/2018          851.0                       0            1

[615 rows x 4 columns]

In [8]:
duration_df["NEW_THUNDERSTORM"] = duration_df["LENGTH_OF_THUNDERSTORM"].apply(lambda x: 0 if x == 0 else 1)
duration_df

,FL_DATE,WEATHER_DELAY,LENGTH_OF_THUNDERSTORM,NEW_WEATHER,NEW_THUNDERSTORM
0,1/22/2018,0.0,32,0,1
1,1/22/2018,0.0,32,0,1
2,1/22/2018,0.0,32,0,1
3,1/22/2018,0.0,32,0,1
4,1/22/2018,0.0,32,0,1
...,...,...,...,...,...
15746,12/1/2018,1938.0,0,1,0
15753,12/1/2018,1707.0,0,1,0
15785,12/1/2018,2230.0,0,1,0
15788,12/1/2018,1309.0,0,1,0
15814,12/1/2018,851.0,0,1,0

In [17]:
duration_df["WEATHER_DELAY"].dtype

dtype('float64')

In [20]:
duration_df["LENGTH_OF_THUNDERSTORM"].astype(float)

0        32.0
1        32.0
2        32.0
3        32.0
4        32.0
         ...
15746     0.0
15753     0.0
15785     0.0
15788     0.0
15814     0.0
Name: LENGTH_OF_THUNDERSTORM, Length: 615, dtype: float64

In [21]:
duration_df["LENGTH_OF_THUNDERSTORM"] = duration_df["LENGTH_OF_THUNDERSTORM"].astype(float)

In [36]:
bins = [0.0,60.0,120.0,180.0,240.0,300.0,360.0,420.0,480.0,540.0,600.0,660.0,720.0,780.0,840.0,900.0,960.0,1020.0,1080.0,1140.0,1200.0,1260.0,1320.0] 
labels = ["0-60", "61-120", "121-180", "181-240", "241-300", "301-360", "361-420", "421-480", "481-540", "541-600", "601-660",
         "661-720", "721-780", "781-840", "841-900", "901-960", "961-1020", "1021-1080", "1081-1140", "1141-1200", "1201-1260", "1261-1320"]

In [39]:
duration_df["THUNDERSTORM_BINS"] = pd.cut(duration_df["LENGTH_OF_THUNDERSTORM"], bins, labels=labels, include_lowest=True)
duration_df

,FL_DATE,WEATHER_DELAY,LENGTH_OF_THUNDERSTORM,NEW_WEATHER,NEW_THUNDERSTORM,THUNDERSTORM_BINS
0,1/22/2018,0.0,32.0,0,1,0-60
1,1/22/2018,0.0,32.0,0,1,0-60
2,1/22/2018,0.0,32.0,0,1,0-60
3,1/22/2018,0.0,32.0,0,1,0-60
4,1/22/2018,0.0,32.0,0,1,0-60
...,...,...,...,...,...,...
15746,12/1/2018,1938.0,0.0,1,0,0-60
15753,12/1/2018,1707.0,0.0,1,0,0-60
15785,12/1/2018,2230.0,0.0,1,0,0-60
15788,12/1/2018,1309.0,0.0,1,0,0-60
15814,12/1/2018,851.0,0.0,1,0,0-60

In [12]:
# X = clean_model.drop("NEW_WEATHER", axis=1)
# y = clean_model["NEW_THUNDERSTORM"]
# print(X.shape, y.shape)

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

NameError: name 'X' is not defined